
.body {
    min-width: 370px;
}

header,main{
    margin: 0 0 0 0px;
}
#research{
    margin: 0px;
    margin-left: 20px; 
}
#Hebergements{
    width: 98%;    

}
header .logo {

    margin: 10px 0 0 65px;
    width: 25%;
}

header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding:0;

}
nav .mobile-line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5px 10px;
    padding:0;
    font-weight: lighter;
}
.active {

    border-style: none none none none;
    padding-top: 0px;
}
nav .mobile-line .mobile-A{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    border-bottom: 2px solid var(--bleu);
    width: 50%;
}
.h1{
    font-size: 25px;

}
nav .mobile-line .mobile-B{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--gris);
    width: 50%;
}
nav .Intern-Link{
    border-style: none none none none;
    padding-bottom: 10px;
}
nav .Intern-Link:hover{
    border-style: none none none none;
    padding-top: 0;
}
.desc {
    font-size: 17px;
    color: var(--police);
    padding: 10px 0 20px 0;
}
.filter {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    width:70%;
    margin-left: 10px; 
    margin-top: 70px;
}

.filter_bouton{ 
    display: none;
}
.filter_bouton_Mobile { 
      
    width: auto;
    flex-flow: column nowrap;
    margin-top: 0px;
    padding-top: 0px;
    visibility: visible;
}
.filter_bouton_Mobile .fbm_Ab{
    display: flex;

}
.filter_bouton_Mobile .align {
    display:  flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid  lightgrey;
    border-radius: 30px;
    font-size: 12px;
    margin: 10px 15px 0px 0px;
    padding: 0px 10px 0px 0px;
    width: 60%;
}
.filter_bouton_Mobile .align:hover {
    font-size: 12px;
    font-weight: bold;
    color: var(--bleu-clair);
    background-color: var(--bleu);
    border: 1px solid  var(--white);
    border-radius: 30px;
}
.filter_bouton_Mobile .fas  {
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: var(--bleu);
    background-color: var(--bleu-clair);
    border: 1px solid var(--bleu-clair);
    border-radius: 35px;
    padding: 3px;
    margin-right: 12px;
}
.fa-info {
    border-radius: 90px;
    font-size: 15px;
    width: 11px;
    margin-left: 10px; 
}
.filter-title{
    margin-bottom: 5px;
    font-size: 20px;
}
.Info-filter{
 
    padding: 0 20px 0 0;
    color: var(--police);
    font-size: 15px;
}
 .form{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: -60px;
}

 
.form .Bouton {
    position: relative;
    visibility: hidden;
}

.Bouton-mobile{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 0 auto 200px;
    padding: 10px;
    width: 53px;
    height: 53px;
    border-radius: 13px;
    background-color: var(--bleu);
    border: none;
    visibility: visible;
}


.form .fa-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu);
    font-size: 10px;
    border-radius: 13px;
    margin: 0px;
    padding: 0px;
    color: var(--white);
    visibility: visible;
}

.form .fas{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 14px;
    height: 25px;
    
    font-size: 20px;
    padding-right: 10px; 
}
.form .recherche{
    width: 240px;
    font-size: 13px;
} 

.cart-content{
    
    width: 100%; 
}

.cart-content .polulary {
    order: 1;
    padding: 0 0 0 15px;
    height: auto;
    border-radius: 0;
    width: 95%;
}
.cart-content .heberg {
    background-color: white;
    height: auto;
    width: 95%;
}
.modules-primary {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

    width: 100%;
}


.heberg .primary-title{
    margin-left: 20px;
    font-size: 22px;
  }
  
.modules-primary .cart {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    box-shadow: 5px 1px 25px #999;
    width: 100%;
}

.cart-img {
    display: flex;
    flex-flow: column wrap;
    margin: 0px;
    width: 100%;
}

.cart-text
{
   padding-left: 15px;
}

.Content-plus{
    margin: 0px 0px 10px 10px;
}

.secondary-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 15px;
    padding: 25px 5px 5px 0;
}











.activity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
    margin: 20px 0px;
    
}
 .activity .activity-module{ 
    
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0;

}  
.activity .activity-title{
    
    font-size: 20px;
    width: 90%;
 
}

.activity .activity-module .activity-cart{
    
    display: flex;
    flex-flow: column wrap;
    width: 100%;    
    box-shadow: 8px 8px 10px 2px var( --gris);
}
.activity .A ,.activity .C,.activity .B ,.activity .D  {

    padding: 0;
    margin: 0;
    width: 98%;
    
    height: auto;
    box-shadow: none;
}
.activity-img-A{
    background-position: 50% 35%;
    background-size: 100%;
    height: 120px;
    
}
.activity-img-B{
    border-radius: 25px 25px 0 0;
    background-position: 40% 25%;
    background-size: 100%;
    height: 120px; 
}
.activity-img-C{
    background-position: 40% 55%;
    background-size: 100%;
    height: 120px;
}

.activity-img-D{
    background-position: 50% 35%;
    border-radius: 25px 25px 0 0;
    background-size: 110%;
    height: 120px;
}

.activity-img-E{
    border-radius: 25px 25px 0 0;
    background-position: 50% 35%;
    background-size: 100%;
    height: 120px;
}

.activity-img-F{
    border-radius: 25px 25px 0 0;
    background-position: 50% 35%;
    background-size: 100%;
    height: 120px;
}

.foot{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 0px;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 0 0 0px;
    margin: 0;
}
.foot .foot-align{
    margin: 3px;
   padding: 15px 0 0 20px;
 
}
.foot .foot-space{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;

}